<ul>
    <li ng-repeat="node in vm.navigation" ms-navigation-node="node"
        ng-class="{'collapsed': vm.collapsed, 'has-children': vm.hasChildren}"
        ng-include="'navigation-nested.html'"></li>
</ul>

<!-- Nested navigation template -->
<script type="text/ng-template" id="navigation-nested.html">

    <div ms-navigation-item layout="row" ng-if="!vm.isHidden()">

        <div class="ms-navigation-button" ng-if="!node.uisref && node.title && !node.href">
            <i class="icon s16 {{node.icon}}" ng-if="node.icon.indexOf('icon-') === 0"></i>
            <i class="icon mdi s16 {{node.icon}}" ng-if="node.icon.indexOf('mdi-') === 0"></i>
            <span class="title" translate="{{node.translate}}" flex>{{node.title}}</span>
            <span class="badge white-fg" ng-style="{'background': node.badge.color}" ng-if="node.badge">{{node.badge.content}}</span>
            <i class="icon-chevron-right s16 arrow" ng-if="vm.collapsable && vm.hasChildren"></i>
        </div>

        <!-- <a class="ms-navigation-button" ui-sref="{{node.uisref}}" ui-sref-active="active md-primary-bg md-hue-2"
           ng-if="node.uisref && node.title && !node.href">
            <i class="icon s16 {{node.icon}}" ng-if="node.icon.indexOf('icon-') === 0"></i>
            <i class="icon mdi s16 {{node.icon}}" ng-if="node.icon.indexOf('mdi-') === 0"></i>
            <span class="title" translate="{{node.translate}}" flex>{{node.title}}</span>
            <span class="badge white-fg" ng-style="{'background': node.badge.color}" ng-if="node.badge">{{node.badge.content}}</span>
            <i class="icon-chevron-right s16 arrow" ng-if="vm.collapsable && vm.hasChildren"></i>
      </a> -->

      <div class="ms-navigation-button" ng-click="vm.gotoLocation($event, node.uisref)" ng-class="vm.getActiveClass(node.uisref)" ui-sref-active="active md-primary-bg md-hue-2"
           ng-if="node.uisref && node.title && !node.href">
            <i class="icon s16 {{node.icon}}" ng-if="node.icon.indexOf('icon-') === 0"></i>
            <i class="icon mdi s16 {{node.icon}}" ng-if="node.icon.indexOf('mdi-') === 0"></i>
            <span class="title" translate="{{node.translate}}" flex>{{node.title}}</span>
            <span class="badge white-fg" ng-style="{'background': node.badge.color}" ng-if="node.badge">{{node.badge.content}}</span>
            <i class="icon-chevron-right s16 arrow" ng-if="vm.collapsable && vm.hasChildren"></i>
      </div>

        <!-- I assume this was commented out because it breaks the 'are you sure' warning.
            Unfortunately, it also broke the warehouse app launch. I'm adding it back. 
            // todo: make this honor the 'are you sure' guard  -->
        <a class="ms-navigation-button" href="{{node.href}}" target="{{node.target}}" ui-sref-active="active md-primary-bg md-hue-2"
           ng-if="node.href && node.title">
            <i class="icon s16 {{node.icon}}" ng-if="node.icon.indexOf('icon-') === 0"></i>
            <i class="icon mdi s16 {{node.icon}}" ng-if="node.icon.indexOf('mdi-') === 0"></i>
            <span class="title" translate="{{node.translate}}" flex>{{node.title}}</span>
            <span class="badge white-fg" ng-style="{'background': node.badge.color}" ng-if="node.badge">{{node.badge.content}}</span>
            <i class="icon-chevron-right s16 arrow" ng-if="vm.collapsable && vm.hasChildren"></i>
        </a>

    </div>

    <ul ng-if="vm.hasChildren && !vm.isHidden()">
        <li ng-repeat="node in node.children" ms-navigation-node="node"
            ng-class="{'collapsed': vm.collapsed, 'has-children': vm.hasChildren}"
            ng-include="'navigation-nested.html'"></li>
    </ul>

</script>
<!-- / Nested navigation template -->
