.tooltip-conatiner {
    max-width: 250px;
    height: auto !important;
    background-color: white !important;
    color: black !important;
    box-shadow: 0 0 10px #999;
    padding: 16px;
    line-height: 26px;

    font-weight: bold;

}
