#settings {

    .simple-table-container {
        max-width: 1200px;

        .table-title {
            padding: 0;
            margin: 24px;
            display: inline-block;
        }
    }

    .settings-metric-config table.dataTable {
        max-width: 1200px;

        td {
            position: relative;

            &:not(:last-child) {
                width: 130px;
            }
        }

        md-checkbox {
            padding: 0;
            margin: 0;
            left: 24px;
            position: relative;
        }

        .editable-click {
            width: 50px;
            text-align: right;
        }

        .editable-wrap {
            position: absolute;
            left: 18px;
            top: -4px;
            //bottom: 0;

            .editable-controls .editable-input {
                width: 50px;
                text-align: center;
                font-size: 13px;
                font-weight: normal;
                border-top: none;
                border-left: none;
                border-right: none;
                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
            }
        }
    }
}
