#dashboard-explorer {

    >.content {
        overflow: visible;
        position: relative;
        padding: 12px !important;
    }

    &.page-layout.simple.fullwidth {

        >.header {
            transition: all .6s cubic-bezier(.25, .8, .25, 1);
            height: 76px;
            min-height: 0;
            max-height: auto;
            padding: 24px;
            opacity: 1;

            .md-button.md-icon-button {
                height: 20px;
                line-height: 20px;
            }
        }
    }

    .header {
        .h2 {
            margin: 0 !important;
            line-height: 1.4 !important;
        }
    }

    .reset {
        color: steelblue;

        &:hover {
            cursor: pointer;
        }

    }

    .ms-card .ms-card-content-wrapper {
        max-width: 100%;

        .h3 {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 1.4;
        }
    }

    text {
        fill: rgba(0, 0, 0, .87);
        fill-opacity: 1;
    }

}

dc-pareto-chart {
    width: 100%;
}

dc-time-bar-chart {
    width: 100%;
}

dc-linear-bar-chart {
    width: 100%;
}