<div class="lockout lockout-indicator">
  <i *ngIf="lockout ==='Unlocked'" class="mdi mdi-lock-open-alert unlocked" matTooltip="The lockout for this machine is Off." matTooltipPosition="above"
    aria-hidden="false" aria-label="lock-open-alert">

</i>
  <i *ngIf="lockout ==='Unknown'" class="mdi mdi-lock-question unknown" matTooltip="This machine does not send its lockout state. This is available in XL200 version 4.58.00 or greater." matTooltipPosition="above"
    aria-hidden="false" aria-label="lock-question">

</i>
</div>
