<md-dialog class="reset-password-dialog" aria-label="Reset Password Dialog">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Reset Password</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="icon-close" class="icon"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container flex md-no-float>
          <input ng-model="user.password" type="password" placeholder="Password">
        </md-input-container>

        <md-input-container flex md-no-float>
          <input ng-model="user.passwordConfirm" type="password" placeholder="Password (Confirm)">
        </md-input-container>

        <div class="error-row" ng-repeat="err in errors track by $index">
          <span class="text">{{err}}</span>
          <md-icon md-font-icon="icon-alert" class="icon"></md-icon>
        </div>

        <md-button class="login-bt" aria-label="LOG IN" ng-click="reset()">
          Reset
        </md-button>
      </div>
    </md-dialog-content>
</md-dialog>