

.reset-password-dialog {
    text-align: center;
    font-size: 14px;
    max-width: 320px;
    .md-dialog-content {
        padding-top: 30px;
    }

    md-toolbar {
        background-color: rgba(236,177,0, 0.9);
    }
    md-input-container {
        width: 100%;
        margin: 10px 0 0 0;

    }

    .login-bt {
        width: 190px;
        margin-top: 10px;
        background-color: rgba(236,177,0, 0.9);
        color: white;

        &:hover {
            background-color: rgba(236,177,0, 1);
        }
    }

    .error-row {
        color: #D32F2F !important;
        font-size: 13px;
        text-align: left;
        md-icon {
            color: #D32F2F !important;
            font-size: 18px;
            width: 18px;
            height: 18px;
            line-height: 18px;
        }
    }
    
}
