<div>
  <div class="widget-group" fxLayout="row" flex="100" layout-wrap>
    <!-- todo: orderBy with async is not working:  | orderBy:'description'-->
    <div
      *ngFor="let machine of dashboardMachines"
      uiSref="app.dashboards_machines_machine({id: machine.machineNumber})"
      fxLayout="column"
      fxFlex="100"
      eat-click-if="!machine.machine.claims.includes('pro.machine.dashboard')"
      fxFlex.sm="50"
      fxFlex.md="33"
      fxFlex.lg="25"
      fxFlex.gt-lg="20"
    >
      <app-machine-dashboard-mini
        [machine]="machine"
        [metricDefinitions]="metricDefinitions"
      ></app-machine-dashboard-mini>
      <!-- trying to figure out why licenses are disappearing -->
      <div feature-flag="in-development">{{machine.machine.claims | json}}</div>
    </div>

    <div
      *ngFor="let machine of machineData.unlicensedMachines"
      fxLayout="column"
      fxFlex="100"
      fxFlex.sm="50"
      fxFlex.md="33"
      fxFlex.lg="25"
      fxFlex.gt-lg="20"
    >
      <app-machine-dashboard-mini
        machine="machine"
        [metricDefinitions]="metricDefinitions"
        [renderUnlicensed]="true"
      ></app-machine-dashboard-mini>
    </div>
  </div>

  <div class="widget-group" fxLayout="row" flex="100" layout-wrap>
    <div
      *ngFor="let device of devices"
      fxLayout="column"
      fxFlex="100"
      fxFlex.sm="50"
      fxFlex.md="33"
      fxFlex.lg="25"
      fxFlex.gt-lg="20"
    >
      <!-- Todo: Add metrics for runtime %, operations/hr total, operations/hr during runtime only since midnight -->
      <app-device-dashboard-mini
        device="device"
        [deviceState]="device.state"
        [shiftStats]="device.shiftStats"
        [metrics]="device.metricModels"
      >
      </app-device-dashboard-mini>
    </div>
  </div>
</div>
