<div class="ms-widget machine-panel-mini">
  <div class="ms-widget-front white-bg" md-ink-ripple
    [ngStyle]="renderUnlicensed && {'filter': 'grayscale(100%)'}"
    matTooltip="This machine is not licensed"
    [matTooltipDisabled]="!renderUnlicensed"
    matTooltipPosition="below"
  >
    <div class="p-16 h-55" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="h4 text-truncate" [matTooltip]="machine.machine.description">
          {{machine.machine.description}}
        </div>
        <app-hole-count-mode-icon *ngIf="machine.isHoleCount"></app-hole-count-mode-icon>
        <app-lockout-indicator [lockout]="machine?.state?.lockout"></app-lockout-indicator>
        <app-run-state-indicator [state]="machine?.state?.runState" [lastRunStateChange]="machine?.state?.lastRunStateChange" [isOffline]="machine?.state?.isOffline"></app-run-state-indicator>
    </div>
    <div *ngIf="!!machine.stats" class="ph-16 pb-16" fxLayout="row" fxFlex fxFill>
      <app-snapshot-bar height="10" width="100%" [running]="machine.stats.runMinutes"
      [exempt]="machine.stats.exemptMinutes" [changeover]="machine.stats.changeoverMinutes"
      [downtime]="machine.stats.nonExemptMinutes" [breakdown]="machine.stats.breakdownMinutes"
      [offline]="machine.stats.offlineMinutes">
      </app-snapshot-bar>
    </div>
    <div class="pb-8" fxLayout="row wrap" fxLayoutAlign="start center">
      <div *ngFor="let metric of machine.metricSettings?.settings | showInMini: true" fxLayout="column" fxLayoutAlign="center center" fxFlex="33">
        <span class="font-size-20 font-weight-500">{{machine.stats[metricDefinitions[metric.metricId].primaryDataKey] | unitsFormat :metricDefinitions[metric.metricId].primaryUnits:3:true:true | obscureNumberString: renderUnlicensed}}<sup class="font-size-12">{{metricDefinitions[metric.metricId].primaryUnits | userDisplayUnits}}</sup></span><!--todo:unit display filter-->
        <span class="h4 secondary-text" translate="{{metricDefinitions[metric.metricId].metricId}}">{{metricDefinitions[metric.metricId].metricId}}</span>
      </div>
    </div>
  </div>
</div>
